$primary:       #15c5bd !default;
$secondary:     #303030 !default;
$heigth-index: 85vh;
$bellota-regular: 'bellotaregular';

@font-face {
    font-family: 'bellotaregular';
    src: url('../fonts/bellota-regular/Bellota-Regular-webfont.eot');
    src: url('../fonts/bellota-regular/Bellota-Regular-webfont.eot') format('embedded-opentype'),
         url('../fonts/bellota-regular/Bellota-Regular-webfont.woff') format('woff'),
         url('../fonts/bellota-regular/Bellota-Regular-webfont.ttf') format('truetype'),
         url('../fonts/bellota-regular/Bellota-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0 !important;
    padding: 0 !important;
}



body{
    margin: 0 auto;
    height: 100vh;
    background-image:url("../img/harrison-broadbent-c3YpscwJb04-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}

// NAVIGATION 

nav{
    background: $secondary;    
    height: 15vh;
    box-shadow: 0 4px 15px 10px rgba(0,0,0,.1);
    a{
        margin-left: 20px !important;
        margin-right: 20px !important;
        font-family: $bellota-regular,sans-serif;
        font-size: 2rem;
        img{
            width: 50%;
        }
    }
}

.container-fluid{
    margin-top: 15vh !important;
}





// JUMBOTRON
#jumbo {
     .jumbotron{
        height: $heigth-index;
        background: transparent;
            
                h1{
                    font-family: $bellota-regular, sans-serif;
                    font-size: 5rem;
                    margin-bottom: 20px !important;
                }
                p{
                    font-size: 2rem;
                    margin-bottom: 20px !important;
                }
                a{
                    text-decoration: none;
                    background-color: $secondary;
                    font-size: 1.6rem;
                    padding: 10px !important;       
                }
            
    }
    
}


#shop-preview{
    height: $heigth-index;
    .row{
        height: $heigth-index;
        .card-deck{
            margin: 15px !important;
            .card{
                background: $secondary;
                margin-left:20px !important;
                margin-right:20px !important;
                img{
                    margin: auto !important;
                    width: 90%; 
                }
                .card-body{
                    text-align: center;  
                }
                h4{
                    color: $primary;
                    margin: auto !important;
                    padding: 15px !important;
                    text-align: center;
                }
                .card-text{
                    background: rgb(100, 100, 100);
                    padding: 10px !important;
                    margin: 15px !important;
                    color: $primary;
                }
                #group-card{
                    p{
                        margin-top: 0px !important;
                        width: 50%;
                    }
                    a{
                        margin-top: 0px !important;
                        width: 50%;
                    }
                    
                }
            }
        }
    }
}

#sign-up{
    height: 45vh;
    .row{
        height: 45vh;
        p{
            text-align: center;
            font-size: 3rem;
            margin-bottom:15px !important;
        }
        #sign-up-label{
            padding-left:15px !important;
            padding-right: 15px !important;
            background: $primary;
        }
    }
}

footer{
    height: 40vh;
    color: $primary;
    background: $secondary;
    .row{
        height: 100%;

        div{
            h3{
                margin:25px 15px 15px 15px !important;
            }
            li{
                margin:10px !important;
            } 
        }
        #list-footer{
            list-style: none;
        }
        #social-media{
            list-style: none;
        }
        #payment{
            list-style: none;
            height: 100%;
            img{
                width: 10%;
            }
        }

    }
   
}

