@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
    padding: 0 !important;
    margin: 0 !important;
}


/* color */

$primary: #15c5bd;
$secondary: #303030;
$dark: #252525;
body {
    width: 100%;
    margin: 0;
    font-family: "roboto";
    color: #303030;
    h1,
    h2,
    h3 {
        font-weight: 300;
    }
    form {
        margin-top: 2vh;
        margin-left: auto;
        text-align: center;
        margin: auto;
        width: 70vw;
        header {
            padding: 1vh 3vw !important;
        }
    }
    .btn-file {
        min-height: 10vh;
    }
    .btn {
        padding: 1vw !important;
    }
    input[type="file"] {
        opacity: 0;
    }
}

input,
select,
option,
textarea {
    text-align: center;
    height: 3rem;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input:focus {
    background: rgba(131, 131, 131, 0.2);
}

select,
option {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 75%;
    text-align: center;
}

textarea {
    width: 75%;
    height: 30vh;
    text-align: left;
    ;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#formMesSubjectElse {
    display: none;
    text-align: left;
    color: #b9b9b9;
}

input[type="file"] {
    position: absolute;
    left: 0;
    width: 150px;
    height: 30px;
}

.btn-primary {
    background: $primary;
    border: 0;
}

.btn-success:hover {
    color: $dark !important;
}

@media screen and (max-width:320px) {
    form {
        width: 100% !important;
    }
}



.error{
    margin-top:3px !important;
    color: $secondary;
    border: 1px solid red;
}

.good{
    display: none;
}