@font-face {
  font-family: 'bellotaregular';
  src: url("../fonts/bellota-regular/Bellota-Regular-webfont.eot");
  src: url("../fonts/bellota-regular/Bellota-Regular-webfont.eot") format("embedded-opentype"), url("../fonts/bellota-regular/Bellota-Regular-webfont.woff") format("woff"), url("../fonts/bellota-regular/Bellota-Regular-webfont.ttf") format("truetype"), url("../fonts/bellota-regular/Bellota-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  margin: 0 auto;
  height: 100vh;
  background-image: url("../img/harrison-broadbent-c3YpscwJb04-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background: #303030;
  height: 15vh;
  -webkit-box-shadow: 0 4px 15px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px 10px rgba(0, 0, 0, 0.1);
}

nav a {
  margin-left: 20px !important;
  margin-right: 20px !important;
  font-family: "bellotaregular", sans-serif;
  font-size: 2rem;
}

nav a img {
  width: 50%;
  height: auto;
}

.container-fluid {
  margin-top: 15vh !important;
}

#jumbo .jumbotron {
  height: 85vh;
  background: transparent;
}

#jumbo .jumbotron h1 {
  font-family: "bellotaregular", sans-serif;
  font-size: 5rem;
  margin-bottom: 20px !important;
}

#jumbo .jumbotron p {
  font-size: 2rem;
  margin-bottom: 20px !important;
}

#jumbo .jumbotron a {
  text-decoration: none;
  background-color: #303030;
  font-size: 1.6rem;
  padding: 10px !important;
}

#shop-preview {
  height: 85vh;
}

#shop-preview .row {
  height: 85vh;
}

#shop-preview .row .card-deck {
  margin: 15px !important;
}

#shop-preview .row .card-deck .card {
  background: #303030;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

#shop-preview .row .card-deck .card img {
  margin: auto !important;
  width: 90%;
}

#shop-preview .row .card-deck .card .card-body {
  text-align: center;
}

#shop-preview .row .card-deck .card h4 {
  color: #15c5bd;
  margin: auto !important;
  padding: 15px !important;
  text-align: center;
}

#shop-preview .row .card-deck .card .card-text {
  background: #646464;
  padding: 10px !important;
  margin: 15px !important;
  color: #15c5bd;
}

#shop-preview .row .card-deck .card #group-card p {
  margin-top: 0px !important;
  width: 50%;
}

#shop-preview .row .card-deck .card #group-card a {
  margin-top: 0px !important;
  width: 50%;
}

#sign-up {
  height: 45vh;
}

#sign-up .row {
  height: 45vh;
}

#sign-up .row p {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 15px !important;
}

#sign-up .row #sign-up-label {
  padding-left: 15px !important;
  padding-right: 15px !important;
  background: #15c5bd;
}

footer {
  height: 40vh;
  color: #15c5bd;
  background: #303030;
}

footer .row {
  height: 100%;
}

footer .row div h3 {
  margin: 25px 15px 15px 15px !important;
}

footer .row div li {
  margin: 10px !important;
}

footer .row #list-footer {
  list-style: none;
}

footer .row #social-media {
  list-style: none;
}

footer .row #payment {
  list-style: none;
  height: 100%;
}

footer .row #payment img {
  width: 10%;
}
/*# sourceMappingURL=custom.css.map */